@import url('http://fonts.googleapis.com/css?family=Inconsolata');  
@import url('http://fonts.googleapis.com/css?family=Orbitron');  

body {
  background-color: #9B9B9B;
}

main {
  background-color: #292927;
  width: 1000px;
  margin: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -1%);
}

h2, div {
  display: inline-block;
  /*padding: 20px;*/
  padding: 10px;
  background-color: #292927;
}

div {
  border: 1px solid #ccc;
  text-align: center;
  color: #CE2D35;
}

separate {
  margin: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -1%);
}

h2 {
  border: 5px solid #000;
  height: 170px;
  width: 170px;
  text-align: center;
  background-color: white;
  border-color: #EAFF22;
}

h3 {
  font-family: "Orbitron";
  text-align: center;
  color: #AEA8AF;
  font-size: 30px;
}

h4 {
  font-family: "Inconsolata";
  text-align: center;
  color: #AEA8AF;
  font-size: 40px;
  margin: 5px;
}

h1 {color: #FF0000;
  text-align: center;
  margin: 10px;
  font-family: "Inconsolata"; 
  font-size:100px;
  border: 2px solid #ccc;
  border-color: #EAFF22;

} 

h2 {color: #000099;
  font-family: "Inconsolata";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
